.section, .content {
  height: 100%;
}

.section * {
  user-select: none;
  -webkit-user-drag: none;
}

h1,
p {
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  padding: 0.5em;
  border: 1.5px solid #000;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  user-select: none;

  i {
    margin-right: 0.5em;
  }
}

.button.selected {
  background-color: #000;
  color: #fff;
}
