.section * {
  user-select: none;
}

h1,
p {
  margin: 0;
}

.button {
  display: inline-block;
  width: 150px;
  padding: 0.5em;
  border: 1.5px solid #000;
  border-radius: 8px;
  // margin-right: 0.5em;
  cursor: pointer;
  text-align: center;
  user-select: none;

  &__text {
    vertical-align: middle;
  }
}

.button.selected {
  background-color: #000;
  color: #fff;
}
