.section,
.content {
  height: 100%;
}

.section * {
  -webkit-user-drag: none;
  user-select: none;
}

h1,
p {
  margin: 0;
}

.header {
  padding-top: 3em;

  &__title {
    width: 800px;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #000;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.2em;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__desc {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  @media (max-width: 500px) {
    padding-top: 1.2em;

    &__title {
      margin-left: 0.3rem;
      font-size: 3em;
    }

    &__desc {
      margin-left: 0.3rem;
      font-size: 1.2em;
    }
  }
}

.button {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: 1.5px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  user-select: none;

  i {
    margin-right: 0.5em;
  }
}

.button.selected {
  background-color: #000;
  color: #fff;
}

a {
  color: rgb(12, 12, 90);
  font-weight: 300;
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(42, 29, 158);
  text-decoration: underline;
}
